<main class="page page--no-sticky">
  <div class="page__item container">
    <h2 class="page__caption">Settings</h2>
    <ul class="page__toggle  tab">
      <li class="tab__item"><a class="tab__link
       tab__link--active" href="#" data-id="pomodoros">Pomodoros</a></li>
      <li class="tab__item">
        <a class="tab__link" href="#" data-id="category">Categories</a>
      </li>
    </ul>
  </div>
  <section class="settings-pomodoro container ">
    <h3 class="settings-pomodoro__subcaption subcaption">Pomodoros settings</h3>
    <ul class="settings-pomodoro__list">

      <li class="settings-pomodoro__item input">
        <label class="input__label input__label--{{workTime.settingsElem}}" for="{{workTime.settingsElem}}">{{toSettingsTitle
          workTime.settingsElem}}</label>
        <div class="input__number number">
          <button class="number__step number__step--down"><span class="sr-only">Remove one</span></button>
          <input id="{{workTime.settingsElem}}" class="number__input" type="number" min="{{workTime.settingsMin}}" max="{{workTime.settingsMax}}"
                 value="{{workTime.settingsValue}}">
          <button class="number__step number__step--up  "><span
            class="sr-only">Add</span></button>
        </div>
        <p class="input__description">Please select a value between {{workTime.settingsMin}} and {{workTime.settingsMax}}
          <em class="input__highlighted">{{toSettingsUnit workTime.settingsElem}}</em></p>
      </li>

        <li class="settings-pomodoro__item input">
          <label class="input__label input__label--{{workIteration.settingsElem}}" for="{{workIteration.settingsElem}}">{{toSettingsTitle
            workIteration.settingsElem}}</label>
          <div class="input__number number">
            <button class="number__step number__step--down"><span class="sr-only">Remove one</span></button>
            <input id="{{workIteration.settingsElem}}" class="number__input" type="number" min="{{workIteration.settingsMin}}" max="{{workIteration.settingsMax}}"
                   value="{{workIteration.settingsValue}}">
            <button class="number__step number__step--up  " ><span
              class="sr-only">Add</span></button>
          </div>
          <p class="input__description">Please select a value between {{workIteration.settingsMin}} and {{workIteration.settingsMax}}
            <em class="input__highlighted">{{toSettingsUnit workIteration.settingsElem}}</em></p>
        </li>

        <li class="settings-pomodoro__item input">
          <label class="input__label input__label--{{shortBreak.settingsElem}}" for="{{shortBreak.settingsElem}}">{{toSettingsTitle
            shortBreak.settingsElem}}</label>
          <div class="input__number number">
            <button class="number__step number__step--down"><span class="sr-only">Remove one</span></button>
            <input id="{{shortBreak.settingsElem}}" class="number__input" type="number" min="{{shortBreak.settingsMin}}" max="{{shortBreak.settingsMax}}"
                   value="{{shortBreak.settingsValue}}">
            <button class="number__step number__step--up  " ><span
              class="sr-only">Add</span></button>
          </div>
          <p class="input__description">Please select a value between {{shortBreak.settingsMin}} and {{shortBreak.settingsMax}}
            <em class="input__highlighted">{{toSettingsUnit shortBreak.settingsElem}}</em></p>
        </li>

        <li class="settings-pomodoro__item input">
          <label class="input__label input__label--{{longBreak.settingsElem}}" for="{{longBreak.settingsElem}}">{{toSettingsTitle
            longBreak.settingsElem}}</label>
          <div class="input__number number">
            <button class="number__step number__step--down"><span class="sr-only">Remove one</span></button>
            <input id="{{longBreak.settingsElem}}" class="number__input" type="number" min="{{longBreak.settingsMin}}" max="{{longBreak.settingsMax}}"
                   value="{{longBreak.settingsValue}}">
            <button class="number__step number__step--up  "><span
              class="sr-only">Add</span></button>
          </div>
          <p class="input__description">Please select a value between {{longBreak.settingsMin}} and {{longBreak.settingsMax}}
            <em class="input__highlighted">{{toSettingsUnit longBreak.settingsElem}}</em></p>
        </li>
    </ul>
    <h3 class="settings-pomodoro__caption">Your cycle</h3>
    <div class="settings-pomodoro__progress-bar"><span class="sr-only">Graph</span></div>
    <div class="settings-pomodoro__buttons buttons">
      <button class="buttons__item buttons__item--info" data-id="tasklist" type="button">Go to
        Tasks
      </button>
      <button class="buttons__item buttons__item--success" type="button" data-id="saveNewSettings">Save
      </button>
    </div>
  </section>
  <section class="settings-category container hidden">
    <h3 class="settings-category__subcaption subcaption">Categories list overview</h3>
    <ul class="settings-category__list">
      <li class="settings-category__item settings-category__item--work">Work</li>
      <li class="settings-category__item settings-category__item--education">Education</li>
      <li class="settings-category__item settings-category__item--hobby">Hobby</li>
      <li class="settings-category__item settings-category__item--sport">Sport</li>
      <li class="settings-category__item settings-category__item--other">Other</li>
    </ul>
    <div class="settings-category__buttons buttons">
      <button class="buttons__item buttons__item--info" data-id="tasklist" type="button">Go to
        Tasks
      </button>
    </div>
  </section>
</main>
<script src="/bundle.js"></script>
